.container {
    background-color: #40fef4;
    width;:600px;
    height: 300px;
    
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 25px;
    column-gap: 100px;
}
.item-1 {
    background-color: #00b3ff;
}
.item-2 {
    background-color: #0051ff;
}